.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.output {
  background-color: beige;
  border: 2px solid burlywood;
  border-radius: 5px 5px;
  padding: 10px 10px;
  margin-top: 20px;
  font-size: 10px;
  width: 300px;
  height: 100px;
}
